.Form-Container {
  margin: 4rem 6rem;
  color: #2a2a2a;
}
.Form-Container form {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.Form-Container input {
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #2a2a2a;
}
.Form-Container textarea {
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #2a2a2a;
}
.Form-Container button {
  display: inline;
}
@media screen and (max-width: 85px) {
  .Form-Container {
    margin: 4rem 6rem;
  }
  .Form-Container form {
    padding-top: 2rem;
    width: 90%;
  }
}
